@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Google Authentcator Index Page...</h1>
    <p>Successfully logged in via goggle authenticator.</p>
    <p>When you sacn the code microsoft authenticator app will open and your account will automatically added in it.</p>
    <p>You will reciving 6 digit code continuously in it you can enter it on code text box on browser to authenticate yourself..</p>
</div>